* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  $linear1_bg: #63a8f3;
  $linear2_bg: #5e69f3;
  $white: #fff;
  $light_black:rgb(73, 68, 68);
  $light_grey:grey;
  $dull_white:#f8fbfd;
  $yellow:#facd55;
  $orange:#f39663;
  
  .btn{
      background-color: $orange;
      color: $white;
      &:hover{
      background-color: $orange;
      color: $white;
      }
  }
  
  
  
  a {
    text-decoration: none;
    color: var(--white);
  }
  
  ul li {
    list-style: none;
  }
  
  .heading{
      color:$light_black;
      text-align: center;
      font-size: 2rem;
      font-weight:600;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 3rem 0 1rem 0;
  }